<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ExcelToDb</title>
    <link rel="stylesheet" href="view-source:https://bootswatch.com/cosmo/" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/cosmo/bootstrap.css"
    />
  </head>
  <body
  class="img-fluid"
  style="background-image: url('https://i.ibb.co/LRbxz2V/adamas1.jpg')
  "
  >
    <div class="fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <p class="navbar-brand" href="#">Adamas University</p> <br>
        <p class="navbar-brand" href="#">C.O.E Page</p>
      </nav>
    </div>

    <div
      class="row row d-flex justify-content-center"
      style="
      margin-top: 125px;
      "
    >
      <div class="lg-6">
        <div class="card  mb-3" style="max-width: 50rem">
          <div class="card-header">Choose options</div>
          <div class="card-body">
            <form action="/dropdown" method="POST"> 
              <div class="form-group">      
                <label for="Department" class="btn btn-primary">Department</label>
        
                <select name="Department" id="Department">
                  <option value="CSE" name="first">CSE</option>
        
                  <option value="ECE" name="second">ECE</option>
        
                  <option value="ME">ME</option>
        
                  <option value="EE">EE</option>
                </select><br>
        
                <label for="Title" class="btn btn-primary">Paper Title</label>
        
                <select name="Title" id="bike">
                  <option value="Switching circuit and logic design" name="first">
                    Switching circuit and logic design
                  </option>
        
                  <option value="Data structure and algorithms" name="second">
                    Data structure and algorithms
                  </option>
        
                  <option value="Operating system">Operating system</option>
        
                  <option value="Compiler design">Compiler design</option>
                </select><br>
        
                <label for="Code" class="btn btn-primary">Paper Code</label>
        
                <select name="Code" id="bike">
                  <option value="CSE1102" name="first">CSE1102</option>
        
                  <option value="ECE7895" name="second">ECE7895</option>
        
                  <option value="ME4586">ME4586</option>
        
                  <option value="CSE4568">CSE4568</option>
                </select><br>
        
                <label for="Semester" class="btn btn-primary">Semestter</label>
        
                <select name="Semester" id="bike">
                  <option value="I" name="first">I</option>
        
                  <option value="II" name="second">II</option>
        
                  <option value="III">III</option>
        
                  <option value="IV">IV</option>
                </select>
        
                <br /><br />
        
                <input type="submit" value="Genarate question" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
