<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Greetings!</title>
   <link rel="stylesheet" href="https://pyscript.net/releases/2022.12.1/pyscript.css" />
   <script defer src="https://pyscript.net/releases/2022.12.1/pyscript.js"></script>
  </head>
  <body>
   add the following line
   <py-config>
    packages = ["pymongo"]
  </py-config>
  <py-script>
    import numpy as np
    arr=np.array([1,2,3])
    print(arr)
  </py-script>
  </body>
</html>