<!DOCTYPE html>

<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="view-source:https://bootswatch.com/cosmo/" />
<link
    rel="stylesheet"
    href="https://bootswatch.com/4/cosmo/bootstrap.css"
/>

<script>

var subjectObject = {

    "BTech": {

    "CSE": ["Engineering Mathematics(I)-SMA41101","Engineering Physics-SPH41109","Engineering Chemistry-SCY41106","HSSM I(English Communication)-HEN41117","HSSM II(Engineering Ethics, Values and the Laws)-HEN41119","Life Sciences-SBT41108","Engineering Physics Lab-SPH41209","Engineering Chemistry Lab-SCY41206","Programming Lab-ECS41201","Electrical and Electronics Technology Lab-EEE41202","Engineering Drawing and CAD-ECE41201","Engineering Workshop-EME41202","Communication and Collaboration Skill(I)-EMC41201","Engineering Mathematics(II)-SMA41102","Engineering Chemistry-SCY41106","Engineering Physics-SPH41109","Electrical and Electronics Technology-EEE41102","Introduction to Programming-ECS41101","Engineering Mechanics-EME41104","HSSM III(Professional Communication in English)-HEN41212","HSSM IV(Economics for Engineers)-HEC42180","Probability, Statistics and Numerical Methods-SMA42111","Introduction to Python-ECS42107","Switching Circuits and Logic Design-ECS42105","Formal Language and Automata Theory-ECS42103","Data Structure and Algorithm-ECS42101","Data Structure and Algorithms Lab-ECS42201","Design Thinking for Engineers-EMC42101","Capstone Project A-SET42403","Operations Research-ECS42110","Design and Analysis of Algorithm-ECS42112","Object Oriented Programming-ECS42114","Software Engineering-ECS43101","Computer Architecture-ECS43103","Numerical Techniques Lab-SMA42211","Design and Analysis of Algorithm Lab-ECS42212","Object oriented programming lab-ECS42214","Interdisciplinary project work-SET42406","Capstone Project B-SET42404","Compiler Design-ECS43105","Database Management Systems-ECS43107","Operating Systems-ECS43102","Compiler Design Lab-ECS43205","Database Management Systems Lab-ECS43207","Operating SYstems Lab-ECS43202","Venture Ideation for Begineers-SET43101","Capstone Project C-SET43403","Computer Networks-ECS43104","Artificial Intelligence and Machine Learning-ECS43106","Computer Networks Lab-ECS43204","Artificial Intelligence and Machine Learning Lab-ECS43206","HSSM V(Industrial Management)-MBA43144","Summer Internship-ECS44601","Minor project-ECS44401","Industry Work Experience/SIRE/Major Project-ECS44402","Comprehensive Viva Voce-Ecs44502"],

    "ME":["Engineering Mathematics I-SMA41101","Introduction to Programming-ECS41101","Electrical and Electronics Technology-EEE41102","HSSM I(English Communication-I)-HEN41117","HSSM II(Human Values and Ethics and Psychology)-HEN41119","Life Sciences-SBT41108","Programming Lab-ECS41201","Electrical and Electronics Technology Lab-EEE41202","Engineering Drawing and CAD-ECE41201","Engineering Workshop-EME41204","Communication and Collaboration Skill I-EMC41201","Engineering Mathematics II-SMA41102","Electrical and Electronics Technology-EEE41102","Introduction to Programming-ECS41101","Life Sciences-SBT41108","HSSM II (Human Values & Ethics and Psychology)-HEN41119","Engineering Mechanics-EME41102","Environmental Science-SGY41113","Electrical and Electronics Technology Lab-EEE41202","Programming Lab-ECS41201","Engineering Workshop-EME41204","Engineering Drawing and CAD-ECE41201","Communication and Collaboration Skill II-EMC41202","Engineering Mathematics IIIA-SMA42113","Materials Engineering-EME42109","HSSM IV(Economics for Engineers)-HEC42180","Mechanics of Materials-EME42111","Fluid Mechanics-EME42113","Engg. Thermodynamics-EME42115","Material Testing Lab-EME42209","Numerical Techniques-SMA42116","Fluid Machinery-EME42112","Manufacturing Technology I-EME42114","Kinematics of Machines-EME42116","Design of Machine Elements-EME42118","Numerical Techniques Lab-SMA42216","Fluid Mechanics & Hydraulic Machinery Lab-EME42212","Applied Thermodynamics-EME43115","Manufacturing Technology II-EME43119","Dynamics of Machines-EME43121","Manufacturing Technology Lab II-EME43219","Kinematics & Dynamics of Machines Lab-EME43221","Machine Drawing with AutoCAD-EME43223","Heat Transfer-EME43116","Metrology & Measurement-EME43118","Applied Thermodynamics & Heat Transfer Lab-EME43216","Metrology & Measurement Lab-EME43218","HSSM V (Industrial Management)-MBA43144","Summer Internship-EME44601","Minor Project-EME44403","Industry Work Experience-EME44602","Major Project-EME44604","Comprehensive Viva Voce-EME44502"],

    "CE":["Engineering Mathematics I-SMA41101","Introduction to Programming-ECS41101","Electrical and Electronic Technology-EEE41102","HSSM I(English Communication)-HEN41117","Life Sciences-SBT41108","Programming Lab-ECS41201","Electrical and electronics technology lab-EEE41202","Engineering Drawing and CAD-ECE41201","Engineering Workshop-EME41204","Communication and Collaboration Skills I-EMC41201","Engineering Mathematics II-SMA41102","Engineering Mechanics-EME41102","Communication and Collaboration Skills II-EMC41202","Engineering Mathematics III-SMA42109","Engineering Geology-ECE42101","Building Planning and Material-ECE42103","Fluid Mechanics and Hydraulic Machinery-ECE42105","Structural Mechanics I-ECE42107","Fluid Mechanics Lab-ECE42201","Engineering Mathematics IV-SMA42111","Structural Mechanics II-ECE42102","Soil Mechanics-ECE42104","Surveying-ECE42106","Water Resources Engineering-ECE42108","Numerical Techniques Lab-SMA42211","Surveying Practice Lab-ECE42202","Solid Mechanics Lab-ECE42204","Design of RC Structure-ECE43101","Foundation Engineering-ECE43103","Transportation Engineering-ECE43105","Earthquake Engineering-ECE43107","Concrete Technology-ECE43109","Solid Waste Management-ECE43111","Geotechnical Engineering Lab-ECE43201","Transportation Engineering Lab-ECE43203","Civil Engineering Drawing-ECE43205","Design of Steel Structure-ECE43102","Environmental Engineering-ECE43104","Remote Sensing and GIS-ECE43106","Advanced Construction Materials and Techniques-ECE43108","Advanced Structural Analysis-ECE43110","Environmental Engineering Lab-ECE43202","Estimation and Valuation-ECE43204","Remote Sensing and GIS lab-ECE43206","Advanced Construction Materials lab-ECE43208","Advanced Structural Analysis Lab-ECE43210","Air Pollution Control Engineering-ECE44101","Construction Planning and Management-ECE44103","Advanced RC Design-ECE44105","Repair and Rehabilitation of Structures-ECE44107","Prestressed Concrete-ECE44109","Environmental Impact Assessment-ECE44111","Air Pollution Control Lab-ECE44201","Construction Planning and Management Lab-ECE44203","Advanced RC Design Lab-ECE44205","Summer Internship-ECE44301","Major Project-ECE44401"],

    "EE":["Engineering Mathematics I-SMA41101","Introduction to Programming-ECS41101","Electrical and Electronic Technology-EEE41102","HSSM I(English Communication)-HEN41117","Life Sciences-SBT41108","HSSM II(Human Values and Ethics and Psychology)-HEN41119","Programming Lab-ECS41201","Electrical and electronics technology lab-EEE41202","Engineering Drawing and CAD-ECE41201","Engineering Workshop-EME41204","Communication and Collaboration Skills I-EMC41201","Engineering Mathematics II-SMA41102","Engineering Mechanics-EME41102","Communication and Collaboration Skills II-EMC41202","Engineering Mathematics III-SMA42109","Economics for Engineers-HEC42180","Electric Circuits-EEE42101","Electrical and Electronic Measurement-EEE42103","Electrical Machine I-EEE42105","Electric Circuits Lab-EEE42201","Electrical and Electronic Measurement Lab-EEE42203","Electric Machine I Lab-EEE42205","Engineering Mathematics IV-SMA42116","Electrical Machine II-EEE42102","Microprocessor and Microcontroller-EE42104","Analog and Digital Electronics-EEE42106","Numerical Techniques Lab-SMA42211","Electrical Machine II Lab-EEE42202","Microprocessor and Microcontroller Lab-EEE42204","Analog and Digital Electronics Lab-EEE42206","Power System I-EEE43101","Control Systems-EE43103","Power Electronics-EEE43105","Special Electrical Machines-EEE43111","Electromagnetic Field Theory-EE43113","Electric Vehicle-EEE43115","Power System I Lab-EEE43201","Control Systems Lab-EEE43203","Power Electronics Lab-EEE43205","Power System II-EEE43102","Modern Control Systems-EEE43104","Power Generation Economics-EEE43112","Digital Signal Processing-EEE43114","Sensors and Transducers-EEE43116","Power Systems II Lab-EEE43202","Modern Control Systems Lab-EEE43204","Power Generation Economics-EEE43212","Digital Signal Processing-EEE43214","Sensors and Transducers-EEE43216","Industrial Management-MBA43144","Electric Drivers-EEE44101","HVDC Transmission Systems-EEE44111","Power System Dynamics-EEE44113","high Voltage Engineering-EEE44115","Electric Drives lab-EEE44201","Electrical Macine Design lab-EEE44205","Summer Internship-EEE44601","Minor Project-EEE44401","Comprehensive Viva Voce-EEE44502"],

    "BME":["Engineering Mathematics I-MTH11501","Applied Science-PHY11201","Introduction to Programming-CSE11001","Electrical and Electronics Technology-GEE11001","HSSM I (English Communication-I)-ENG11053","Life Sciences-BIT11003","Applied Science Lab-PHY12202","Programming Lab-CSE12002","Electrical and Electronics Technology Lab-GEE12002","Engineering Drawing and CAD-CEE12001","Engineering Workshop-MEE12001","Communication and Collaboration Skill I-ENG11043","Capstone Project I-GEE14003","Design Thinking-DGS11001","Engineering Mathematics II-MTH11502","Engineering Mechanics-MEE11002","Environmental Science-EVS11107","Communication and Collaboration Skill II-ENG12044","Capstone Project II-GEE14004","Engineering Mathematics III-MTH11526","Economics for Engineers-ECO11505","Analog and Digital Electronics-BME11001","Anatomy & Physiology-BME11002","Signals and Network Analysis-BME11003","MATLAB & Simulink-BME12004","Signals and Network Analysis Lab-BME12005","Electronics Lab-BME12006","Capstone Project III-GEE14005","Community Service-SOC14100","Venture Ideation-EIC11001","Interdisciplinary Project-IDP14001","Engineering Mathematics IV-MTH11527","Basic Clinical Science-BME11007","Biomedical Signal acquisition & processing-BME11008","Microprocessors and Microcontrollers-BME11009","Biomaterials-BME11010","Human Values and Professional Ethics-PSG11021","Digital Signal Processing Lab-BME12011","Microprocessors and microcontrollers Lab-BME12012","Capstone Project IV-GEE14006","Biomechanics-BME11013","Digital System Design-BME11014","Biomedical Instrumentation I-BME11015","Medical Imaging Systems-BME11016","Bio-fluid mechanics-BME11017","Design of Medical Devices & Implants-BME11018","Biomechanics Lab-BME12019","Digital System Lab-BME12020","Biomedical Instrumentation I Lab-BME12021","Capstone Project V-GEE14007","Industrial Management-MGT11402","Industry Work Experience-ECE14042","Major Project-ECE14044","Comprehensive Viva Voce-ECE15045"]
  },

  "BCA": {
    "BCA Gaming & Animation":["Mathematics I - MTH11221","Introduction to Programming - CSE11401","English Communication - ENG11055","Computer Fundamentals - CSE11402","Environmental Science - EVS11103","Programming Lab - CSE12403","Design Thinking - DGS11001","Mathematics II - MTH11507","Programming &Data Structures - CSE11404","Digital Electronics - ECE11501","Design of Logic Circuits - CSE11405","Principles of Programming - CSE11453","Data Structures Lab - CSE12407","Digital Electronics Lab - ECE12502","Principles of Programming Lab - CSE12454","Venture Ideation - EIC11001","Object Oriented Programming with JAVA - CSE11409","Data Science with Python - CSE11455","Computer Organization & Architecture - CSE11411","Database Management System - CSE11412","Object Oriented Programming Lab - CSE12413","Data Science with Python Lab - CSE12456","Computer Organization Lab - CSE12415","Database Management System Lab -  CSE12416","Drawing for Animation - CSE11435","Modelling,Rigging and Animation Lab - CSE12434","Community Service# - SOC14100","Interdisciplinary Project - IDP14001"," Data Communication & Computer Network -ECE11503","Algorithm Design - CSE11417","Operating System - CSE11418","Introduction to Cloud Computing - CSE11457","Computer Network Lab - ECE12504","Algorithm Design Lab - CSE12420","Operating System Lab - CSE12421","Cloud Computing Lab - CSE12458","Applied Computing Lab - CSE12459","Game Development I - CSE11432","Game Development I Lab - CSE12433","Human Values and Professional Ethics - PSG11021","Web Designing - CSE11406","AI and Machine Learning  - CSE11460","Software Engineering - CSE11424","AI and Machine Learning Lab - CSE12461","Web Designing Lab - CSE12408","Project I - CSE14428","Game Development II - CSE11436","Game Development II Lab - CSE12437","E-commerce & Applications - MKT12403","Cyber Security - CSE11429","Comprehensive Viva Voce - CSE15430","Project II - CSE14431","Aesthetics of Game Design - CSE11438"],

  "BCA": ["Algorithm Design-ECS32162","Algorithm Design Lab-ECS32262","Artificial Intelligence-ECS33161","Artificial Intelligence Lab-ECS33261","Business Communication-ECS33177","Computer Fundamentals-CSE11402","Computer Graphics Lab-ECS32266","Computer Network Lab-EEC32202","Computer Organization and Architecture-ECS32165","Computer Network Lab-EEC32202","Computer Organization Lab-ECS32265","Cyber Security-ECS33162","Database Management System-ECS32165","Database Management System Lab-ECS32267","Data Communication and Computer Network-EEC32102","Data Structures Lab-CSE12407","Design of Logic Circuits-CSE11405","Digital Electronics-ECE11501","Digital Electronics Lab-ECE12502","E-commerce And Applications-MBA32141","English Communication-ENG11055","Environmental Science-EVS11103","Financial Accounting-HEC43181","Introduction to Computer Graphics-ECS32166","Introduction to Programming CSE11401","Management Information System-MBA33141","Mathematics I-MTH11221","Mathematics II-MTH11507","Object Oriented Programming with Java-ECS32161","Object Oriented Programming Lab-ECS32261","Operations System-ECS32164","Operating System Lab-ECS32264","Programming and Data Structure-CSE11404","Programming in Python-ECS32163","Programming Lab-CSE12403","Python Programming Lab-ECS32263","Software Engineering-ECS33163","Software Enigneering Lab-ECS33263","Web Designing-CSE11406","Web Designing Lab-CSE12408"],

  "BCA Banking, Financial Services and Insurance": ["Algorithm Design-ECS32162","Algorithm Design Lab-ECS32262","Banking and Economy-CSE11444","Computer Fundamentals-CSE11402","Computer Graphics Lab-ECS32266","Computer Organization and Architecture-ECS32165","Computer Network Lab-EEC32202","Computer Organization Lab-ECS32265","Customer Relationship Management in Banking-CSE11445","Cyber Security in Banking-CSE11451","Database Management System-ECS32167","Database Management System Lab-ECS32267","Data Communication and Computer Network","Data Structures Lab","Design of Logic Circuits","Digital Electronics","Digital Electronics Lab-ECE12502","English Communication-ENG11055","Environmental Science-EVS11103","Financial Management-CSE11446","FLEXCUBE Universal Banking I Lab-CSE12448","FLEXCUBE Universal Banking II Lab-CSE12448","Introduction to Banking Management-CSE11443","Introduction to Computer Graphics-ECS32166","Introduction to Programming-CSE11401","Insurance Management-CSE11450","Mathematics I-MTH11221","Mathematics II-MTH11507","Object Oriented Programming with JAVA-ECS32161","Object Oriented Programming Lab-ECS32261","Operating System-ECS32164","Operating System Lab-ECS32264","Programming Lab-CSE12403","Programming and Data Structure-CSE11404","Programming in Python-ECS32163","Python Programming Lab-ECS32263","Risk Management-CSE11449","Universal Banking-CSE11447","Web Designing-CSE11406","Web Designing Lab-CSE12408"]

  },

  "BTECH Hons": {

    "AIML":["Advanced Machine Learning-CSE11171","Advanced Machine Learning Lab-CSE12172","Advanced Web Technologies-CSE11151","Advanced Web Technologies Lab-CSE12157","Android Application Development Lab-CSE12145","Application Development with Python-CSE11138","Applications of AIML-CSE11168","Applied Computing Lab-CSE12130","Applied Machine Intelligence-CSE11152","Applied Machine Intelligence Lab-CSE12158","Application Security-CSE11155","Application Security Lab-CSE12161","Applied Science-PHY11201","Applied Science Lab-PHY12202","Basic Civil and Mechanical Engineering-GEE11011","Bioinformatics-BIT11074","Cloud Management-CSE11141","Communication and Collaboration Skill I-ENG11043","Communication and Collaboration Skills II-ENG11044","Compiler Design-CSE11132","Computer-Aided Simulation and Analysis-MEE11060","Computer Networks-CSE11115","Computer Networks Lab-CSE12128","Computer Organization and Architecture-CSE11116","Computer Organization and Architecture Lab-CSE12129","Cloud Architecture and Deployment-CSE11154","Cloud Architecture and Deployment Lab-CSE12160","Cloud Security-CSE11126","Cyber Law and Governance-CSE11127","Data Analysis-CSE11153","Data Analysis Lab-CSE12159","Database Management Systems-CSE11108","Database Management Systems Lab-CSE12113","Data Mining and Warehousing-CSE11125","Data Structure and Algorithms-CSE11104","Data Structures and Algorithms Lab-CSE12107","Deep Learning Tools and Applications-CSE11169","Deep Learning Tools and Applications Lab-CSE12170","Design and Analysis of Algorithms-CSE11110","Design Thinking-DGS11001","Digital Signal Processing-ECE11046","Disaster Management-CEE11029","Discrete Structures and Logic-MTH11534","Distributed Systems and Cloud-CSE11121","Economics for Engineers-ECO11505","Engineering Drawing and CAD-CEE12001","Engineering Mathematics I-MTH11501","Engineering Mathematics II-MTH11502","Engineering Mathematics III-SDS11510","Engineering Mechanics-MEE11002","Engineering Workshop-MEE12001","English Communication-ENG11053","Environmental Science-EVS11107","Electrical and Electronics Technology-GEE11001","Electrical and Electronics Technology Lab-GEE12002","Formal Language and Automata-CSE11111","Feature Engineering and Performance Analysis-CSE11166","Feature Engineering and Performance Analysis Lab-CSE12167","Full Stack Software Development-CSE11123","Human Values, Ethics and Psychology-PSG11021","Introduction to Artificial Intelligence-CSE11112","Introduction to Cyber Security-CSE11122","Introduction to Data Science-CSE11120","Introduction to Programming-CSE11001","Introduction to Python-CSE11118","Life Sciences-BIT11003","Machine Learning-CSE11134","Machine Learning Lab-CSE12146","Malware Analysis-CSE11142","Medical Imaging and Image Processing-PHY11203","Mobile Computing and Android-CSE11133","Microcontrollers and Interfacing-ECE11049","Neural Networks and Deep Learning Application-CSE11139","Network Security-CSE11137","Network Security Lab-CSE12149","Numerical Techniques Lab-MTH12531","Object Oriented Programming-CSE11109","Object Oriented Programming Lab-CSE12114","Operating Systems-CSE11150","Operating Systems Lab-CSE12156","Optimization and Game Theory-CSE11119","Pattern Recognition and Soft Computing-CSE11124","Principles of Programming Language-CSE11103","Principles of Programming Language Lab-CSE12106","Programming Lab-CSE12002","Real-time Analytics-CSE11135","Recent Trends in AIML-CSE11173","Robotics and Automation-MEE11071","Sensors and Actuators for IOT-ECE11047","Software Engineering-CSE11117","Statistical Modelling for Data Analytics-CSE11140","Statistical Modelling for Data Analytics Lab-CSE12147","Switching Circuits and Logic Design-CSE11105","Venture Ideation-EIC11001","VLSI System Design-ECE11048","Virtualization and Applied Cloud Computing-CSE11136","Virtualization and Applied Cloud Computing Lab-CSE12148","Web Technology-CSE11131","Web Technology Lab-CSE12143"],

    "Cyber Security and Forensics":["Advanced Web Technologies-CSE11151","Advanced Web Technologies Lab-CSE12157","Android Application Development Lab-CSE12145","Application Development with Python-CSE11138","Application Security-CSE11155","Application Security Lab-CSE12161","Applied Computing Lab-CSE12130","Applied Machine Intelligence-CSE11152","Applied Machine Intelligence Lab-CSE12158","Applied Science-PHY11201","Applied Sciences Lab-PHY12202","Basic Civil and Mechanical Engineering-GEE11011","Bioinformatics-BIT11074","Cloud Architecture and Deployment-CSE11154","Cloud Architecture and Deployment Lab-CSE12160","Cloud Management-CSE11141","Cloud Security-CSE11126","Communication and Collaboration Skill I-ENG11043","Communication and Collaboration Skill II-ENG11044","Compiler Design-CSE11132","Computer Networks-CSE11115","Computer Networks Lab-CSE12128","Computer Organization and Architecture-CSE11116","Computer Organization and Architecture Lab-CSE12129","Computer Aided Simulation and Analysis and Digital Manufacturing-MEE11060","Cyber Forensics-CSE11191","Cyber Law and Governance-CSE11127","Cryptography-CSE11184","Cryptography Lab I-CSE12185","Data Analysis-CSE11153","Data Analysis Lab-CSE12159","Database Management Systems-CSE11108","Database Management Systems Lab-CSE12113","Data Structures and Algorithms-CSE11104","Data Mining and Warehousing-CSE11125","Data Structures and ALgorithms Lab-CSE12107","Design and Analysis of Algorithms-CSE11110","Design Thinking-DSG11001","Digital Signal Processing-ECE11046","Disaster Management-CEE11029","Discrete Structures and Logic-MTH11534","Disaster Management-CEE11029","Distributed Systems and Cloud-CSE11121","Economics for Engineers-ECO11505","Electrical and Electronics Technology-GEE11001","Electrical and Electronics Technology Lab-GEE12002","English Communication-ENG11053","Engineering Drawing and CAD-CEE12001","Engineering Mathematics I-MTH11501","Engineering Mathematics II-MTH11502","Engineering Mathematics III-SDS11510","Engineering Mechanics-MEE11002","Engineering Workshop-MEE12001","Environmental Science-EVS11107","Ethical Hacking-CSE11189","Ethical Hacking Lab-CSE12190","Formal Language and Automata-CSE11111","Full Stack Software Development-CSE11123","Human Values, Ethics and Psychology-PSG11021","Information Security Audit and Monitoring-CSE11186","Introduction to Artificial Intelligence-CSE11112","Introduction to Cyber Security-CSE11122","Introduction to Data Science-CSE11120","Introduction to Programming-CSE11001","Introduction to Python-CSE11118","Life Sciences-BIT11003","Machine Learning-CSE11134","Machine Learning Lab-CSE12146","Malware Analysis-CSE11142","Medical Imaging and Image Processing-PHY11203","Microcontrollers and Interfacing-ECE11049","Mobile Computing and Android-CSE11133","Neural Networks and Deep Learning Application-CSE11139","Network Security-CSE11137","Network Security Lab-CSE12149","Numerical Techniques Lab-MTH12531","Object Oriented Programming-CSE11109","Object Oriented Programming Lab-CSE12114","Operating Systems-CSE11150","Operating Systems Lab-CSE12156","Optimization and Game Theory-CSE11119","Pattern Recognition and Soft Computing-CSE11124","Penetration Testing-CSE11187","Penetration Testing Lab-CSE12188","Principles of Programming Language-CSE11103","Principles of Programming Language Lab-CSE12106","Programming Lab-CSE12002","Real-time Analysis-CSE11135","Robotics and Automation-MEE11071","Sensors and Actuators for IOT-ECE11047","Software Engineering-CSE11117","Statistical Modelling for Data Analytics-CSE11140","Statistical Modelling for Data Analytics Lab-CSE12147","Switching Circuits and Logic Design-CSE11105","Virtualization and Applied CLoud Computing-CSE11136","Virtualization and Applied Cloud Computing Lab-CSE12148","VLSI System Design-ECE11048","Web Technology-CSE11131","Web Technology Lab-CSE12143"],

    "Cloud Computing":["Advanced Web Technologies-CSE11151","Advanced Web Technologies Lab-CSE12157","Android Application Development Lab-CSE12145","Applied Computing Lab-CSE12130","Applied Machine Intelligence-CSE11152","Applied Machine Intelligence Lab-CSE12158","Applied Science-PHY11201","Applied Science Lab-PHY12202","Application Security-CSE11155","Application Security Lab-CSE12161","Basic Civil and Mechanical Engineering-GEE11011","Bioinformatics-BIT11074","Big Data on Cloud-CSE11178","Big Data on Cloud Lab-CSE12179","Cloud Architecture and Deployment-CSE11154","Cloud Architecture and Deployment Lab-CSE12160","Cloud Computing Platforms-CSE11182","Cloud Security-CSE11126","Cloud Manaegement-CSE11141","Communication and Collaboration Skill I-ENG11043","Communication and Collaboration Skill II-ENG11044","Compiler Design-CSE11132","Computer-Aided Simulation & Analysis-MEE11060","Computer Networks-CSE11115","Computer Networks Lab-CSE12128","Computer Organization and Architecture-CSE11116","Computer Organization and Architecture Lab-CSE12129","Cyber Laew and Governance-CSE11127","Data Analysis-CSE11153","Data Analysis Lab-CSE12159","Database Management Systems-CSE11108","Database Management Systems Lab-CSE12113","Data Mining and Warehousing-CSE11125","Data Structure and Algorithms-CSE11104","Data Structure and Algorithms Lab-CSE12107","Design and Analysis of Algorithms-CSE11110","Design Thinking-DGS11001","Discrete Structures and Boolean Logic-MTH11534","Distributed Database Management-CSE11177","Distributed Systems and Cloud-CSE11121","Economics for Engineers-ECO11505","Electrical and Electronics Technology-GEE11001","Electrical and Electronics Technology Lab-GEE12002","Engineering Drawing and CAD-CEE12001","Engineering Mathematics I-MTH11501","Engineering Mathematics II-MTH11502","Engineering Mathematics III C-SDS11510","Engineering Mechanics-MEE11002","Engineering Workshop-MEE12001","English Communication-ENG11053","Environmental Science-EVS11107","Formal Language and Automata-CSE11111","Full Stack Software Development-CSE11123","Human Values, Ethics and Psychology-PSG11021","IoT Application Development on Cloud-CSE11180","IoT Application Development on Cloud Lab-CSE12181","Introduction to Artificial Intelligence-CSE11112","Introduction to Cyber Security-CSE11122","Introduction to Programming-CSE11001","Introduction to Data Science-CSE11120","Introduction to Python-CSE11118","Life Sciences-BIT11003","Machine Learning-CSE11134","Machine Learning Lab-CSE12146","Malware Analysis-CSE11142","Medical Imaging and Image Processing-PHY11203","Microcontrollers and Interfacing-ECE11049","Mobile Computing and Android-CSE11133","Network Security-CSE11137","Network Security Lab-CSE12149","Numerical Techiques Lab-MTH12531","Object Oriented Programming-CSE11109","Object Oriented Programming Lab-CSE12114","Operating Systems-CSE11150","Operating Systems Lab-CSE12156","Optimization and Game Theory-CSE11119","Parallel Processing-CSE11175","Parallel Processing Lab-CSE12176","Pattern Recognition and Soft Computing-CSE11124","Principles of Programming Language-CSE11103","Principles of Programming Language Lab-CSE12106","Programming Lab-CSE12002","Real-time Analytics-CSE11135","Robotics and Automation-MEE11071","Life Sciences-BIT11003","Sensors and Actuators for IOT-ECE11047","Software Engineering-CSE11117","Statistical Modelling for Data Analytics Lab-CSE12147","Switching Circuits and Logic Design-CSE11105","VLSI System Design-ECE11048","Virtualization and Applied Cloud Computing Lab-CSE12148","Web Technology-CSE11131","Web Technology Lab-CSE12143"],

    "Data Analytics":["Advanced Web Technologies-CSE11151","Advanced Web Technologies Lab-CSE12157","Android Application Development Lab-CSE12145","Application Development with Python-CSE11138","Application Security-CSE11155","Application Security Lab-CSE12161","Applied Computing Lab-CSE12130","Applied Machine Intelligence-CSE11152","Applied Machine Intelligence Lab-CSE12158","Applied Science-PHY11201","Applied Science Lab-PHY12202","Basic Civil and Mechanical Engineering-GEE11011","Bioinformatics-BIT11074","Cloud Architecture and Deployment-CSE11154","Cloud Architecture and Deployment Lab-CSE12160","Cloud Management-CSE11141","Cloud Security-CSE11126","Communication and Collaboration Skill I-ENG11043","Communication and Collaboration Skill II-ENG11044","Compiler Design-CSE11132","Computer-Aided Simulation & Analysis and Digital Manufacturing-MEE11060","Computer Networks-CSE11115","Computer Networks Lab-CSE12128","Computer Organization and Architecture-CSE11116","Computer Organization and Architecture Lab-CSE12129","Cyber Law and Governance-CSE11127","Data Analysis-CSE11153","Data Analysis Lab-CSE12159","Data Analytics and Reporting-CSE11196","Data Analytics and Reporting Lab-CSE12197","Database Management Systems-CSE11108","Database Management Systems Lab-CSE12113","Data Modelling and Visualization-CSE11193","Data Modelling and Visualization Lab-CSE12194","Data Mining and Warehousing-CSE11125","Data Structure and Algorithms-CSE11104","Data Structure and Algorithms Lab-CSE12107","Design and Analysis of Algorithms-CSE11110","Design Thinking-DGS11001","Digital Signal Processing-ECE11046","Disaster Management-CEE11029","Discrete Structures and Logic-MTH11534","Distributed Systems and Cloud-CSE11121","Economics for Engineers-ECO11505","Electrical and Electronics Technology-GEE11001","Electrical and Electronics Technology Lab-GEE12002","Engineering Drawing and CAD-CEE12001","Engineering Mathematics I-MTH11501","Engineering Mathematics II-MTH11502","Engineering Mathematics III C-SDS11510","Engineering Mechanics-MEE11002","Engineering Workshop-MEE12001","English Communication-ENG11053","Environmental Science-EVS11107","Formal Language and Automata-CSE11111","Full Stack Software Development-CSE11123","Introduction to Artificial Intelligence-CSE11112","Introduction to Cyber Security-CSE11122","Introduction to Data Science-CSE11120","Introduction to Programming-CSE11001","Introduction to Python-CSE11118","Life Sciences-BIT11003","Machine Learning-CSE11134","Machine Learning for Big Data-CSE11200","Machine Learning Lab-CSE12146","Malware Analysis-CSE11142","Medical Imaging and Image Processing-PHY11203","Microcontrollers and Interfacing-ECE11049","Mining Massive Datasets-CSE11195","Mobile Computing and Android-CSE11133","Neural Networks and Deep Learning Application-CSE11139","Network Security-CSE11137","Network Security Lab-CSE12149","Numerical Techniques Lab-MTH12531","Object Oriented Programming-CSE11109","Object Oriented Programming Lab-CSE12114","Operating Systems-CSE11150","Operating Systems Lab-CSE12156","Optimization and Game Theory-CSE11119","Pattern Recognition and Soft Computing-CSE11124","Principles of Programming Language-CSE11103","Principles of Programming Language Lab-CSE12106","Programming Lab-CSE12002","Real-time Analytics-CSE11135","Robotics and Automation-MEE11071","Sensors and Actuators for IOT-ECE11047","Social Media and Text Analytics-CSE11198","Social Media and Text Analytics Lab-CSE12199","Software Engineering-CSE11117","Statistical Modelling for Data Analytics-CSE11140","Statistical Modelling for Data Analytics Lab-CSE12147","Switching Circuits and Logic Design-CSE11105","Virtualization and Applied Cloud Computing-CSE11136","Virtualization and Applied Cloud Computing Lab-CSE12148","VLSI System Design-ECE11048","Web Technology-CSE11131","Web Technology Lab-CSE12143"]
    
  },

  "MTECH":{

    "MTECH":["Foundation of Computing Science-CSE21801","Advanced Algorithms - CSE21802","Computing Lab I - CSE22806","Parallel & Distributed Computing-CSE21811","Computing Lab II - CSE22824"]

  },


  "MCA":{

    "MCA":["Computer Programming with Python - CSE21901","Numerical & Statistical Methods - MTH21201 ","Computer Organization & Architecture - CSE21902","Software Engineering - CSE21903"," HSSM I (English Communication) - ENG21112","Data Structures with Python - CSE21904","Computer Programming with Python Lab - CSE22905","Numerical & Statistical Methods Lab -  MTH22201","Practical Computer Organization & Architecture Lab  - CSE22906","Data Structures with Python Lab - CSE22907 ","Mobile Applications using Android/IoS - CSE21908","Object Oriented Programming with Java - CSE21909 ","Operating System - CSE21910"," Database Management System - CSE21911","Discrete Mathematics  -  MTH21519","Mobile Applications using Android/IoS Lab  - CSE22912","Object Oriented Programming with Java Lab - CSE22913","Operating System Lab  - CSE22914","Database Management System Lab - CSE22915","Web Technology - CSE21916 ","Data Communication & Computer Network - ECE21601","Cyber Security  - CSE21917","HSSM III - ENG21113","Web Technology Lab - CSE22923","Cyber Security Lab  - CSE22924","HSS-VI (Basics of Organizational Behaviors)  - OBH21404","Project Management - OLS21401"]

  }


}



window.onload = function() {

  var subjectSel = document.getElementById("Program");

  var topicSel = document.getElementById("Department");

  var chapterSel = document.getElementById("Paper");

  for (var x in subjectObject) {

    subjectSel.options[subjectSel.options.length] = new Option(x, x);

  }

  subjectSel.onchange = function() {

    //empty Chapters- and Topics- dropdowns

    chapterSel.length = 1;

    topicSel.length = 1;

    //display correct values

    for (var y in subjectObject[this.value]) {

      topicSel.options[topicSel.options.length] = new Option(y, y);

    }

  }

  topicSel.onchange = function() {

    //empty Chapters dropdown

    chapterSel.length = 1;

    //display correct values

    var z = subjectObject[subjectSel.value][this.value];

    for (var i = 0; i < z.length; i++) {

      chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);

    }

  }

}

</script>

</head>  

<body
  class="img-fluid"
  style="background-image: url('https://i.ibb.co/LRbxz2V/adamas1.jpg')
  "
  >
    <div class="fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <p class="navbar-brand" href="#">Adamas University</p> <br>
        <p class="navbar-brand" href="#">C.O.E Page</p>
      </nav>
    </div>

    <div
      class="row row d-flex justify-content-center"
      style="
      margin-top: 125px;
      "
    >
      <div class="lg-6">
        <div class="card  mb-3" style="max-width: 50rem">
          <div class="card-header">Choose options</div>
          <div class="card-body">
            <form name="form1" id="form1" action="soet" method="POST">

                <b>Program:</b> <select name="Program" id="Program">
                
                    <option value="" selected="selected">Select program</option>
                
                  </select>
                
                  <br><br>
                
                <b>Department: </b><select name="Department" id="Department">
                
                    <option value="" selected="selected">Please select program first</option>
                
                  </select>
                
                  <br><br>
    
                <b>Semester: </b><select name="Semester" id="Semester">
                <option value="I" name="I">I</option>
                <option value="II" name="II">II</option>
                <option value="III" name="III">III</option>
                <option value="IV" name="IV">IV</option>
                <option value="V" name="V">V</option>
                <option value="VI" name="VI">VI</option>
                <option value="VII" name="I">VII</option>
                <option value="VIII" name="VIII">VIII</option>
                </select><br><br>
                
                <b>Paper Name and Code: </b><select name="Paper" id="Paper">
                
                    <option value="" selected="selected">Please select department first</option>
                
                  </select>
                
                  <br><br>
                
                  <input type="submit" value="Generate paper"> 
                
                </form>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>